# dependencies
afisha_nuxt/node_modules

# logs
afisha_nuxt/npm-debug.log

# Nuxt build
afisha_nuxt/.nuxt

# Nuxt generate
afisha_nuxt/dist

.dev
docker_files/postgres_data/*
docker_files/redis_data/*
logs/
